# Byte-compiled / optimized / DLL files

**pycache**/
_.py[cod]
_.pyo
_.pyw
_.pyz

# Distribution / packaging

\*.egg-info/

# OS files

.DS_Store

# Environment files

.env
.env.\*

# Project data and outputs

outputs/
uploads/
data/

# VSCode settings

.vscode/

# Git

.git/

.venv
.idea
.vscode
\*.md
.git
.env
